<h2>Задачи разработчиков (MILI, Scoring)</h2>
<% unless @bugs.empty? %>
    <%= tag("embed", :width => "100%", :height => 300, :type => "image/svg+xml", :src => url_for(:controller => 'graphs', :action => 'bug_growth_graph')) if @project.nil? %>
    <%= tag("embed", :width => "100%", :height => 300, :type => "image/svg+xml", :src => url_for(:controller => 'graphs', :action => 'bug_growth_graph', :project_id => @project.id)) unless @project.nil? %>
<% end %>

<h3 class="icon icon-time">Задачи</h3>
<%= render :partial => 'issues/list_simple', :locals => { :issues => @bugs } %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>
